<%# here starts CARDS for adding a skill %>
  <div class="cards">
    <% @skills.each do |skill| %>
      <div class="card">
        <div class="card-img">
          <%= cl_image_tag(skill.photo.key, class: "card-img-top", crop: :thumb, gravity: :face) %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= skill.name %></h5>
          <%# add user-avatar %>
          <h6 class="card-title">with <%= skill.user["first_name"] %></h6>
          <p class="card-text"><%= skill.category %></p>
          <%= link_to "Details", skill_path(skill), class: "link btn btn-custom" %>
        </div>
      </div>
    <% end %>
  </div>
<%# here ends CARDS for adding a skill %>

<%# here starts FLOATING BUTTON for adding a skill %>
  <div class="floating-btns">
    <%= link_to new_skill_path, class: "button blob-btn" do %>
    Add your skill
      <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
    <% end %>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
        <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
      </filter>
    </defs>
  </svg>
<%# here ends FLOATING BUTTON for adding a skill %>
