<div class="floating">
  <button type="button" class="btn btn-primary"><%= link_to 'Add new skill', new_skill_path, class: "link" %></button>
</div>

<div class="cards">
  <% @skills.each do |skill| %>
    <div class="card">
      <div class="card-img">
        <%= cl_image_tag(skill.photo.key, class: "card-img-top", crop: :thumb, gravity: :face) %>
          <%# class: "img-fluid", style: "object-fit: cover;" %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= skill.name %></h5>
        <%# add user-avatar %>
        <h6 class="card-title">with <%= skill.user["first_name"] %></h6>
        <p class="card-text"><%= skill.category %></p>

        <%= link_to "Details", skill_path(skill), class: "btn btn-custom" %>
      </div>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-custom floating"><%= link_to '', new_skill_path, class: "link fa-solid fa-plus" %></button>
