<div class="floating">
  <button type="button" class="btn btn-primary"><%= link_to 'Add new skill', new_skill_path, class: "link" %></button>
</div>

<div class="cards">
  <% @skills.each do |skill| %>
    <div class="card">
      <div class="card-img">
        <% if skill.photo.attached? %>
          <%= cl_image_tag skill.photo.key, class: "card-img-top" %>
          <%# class: "img-fluid", style: "object-fit: cover;" %>
        <% else %>
          <%= cl_image_tag("https://res.cloudinary.com/dnx6ly8vl/image/upload/v1685450930/default_fqx7cj.jpg",
          class: "card-img-top") %>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= skill.name %></h5>
        <%# add user-avatar %>
        <h6 class="card-title">with <%= skill.user["first_name"] %></h6>
        <p class="card-text"><%= skill.category %></p>

        <%= link_to "Details", skill_path(skill), class: "btn btn-custom" %>
      </div>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-custom floating"><%= link_to '', new_skill_path, class: "link fa-solid fa-plus" %></button>
