
<div class="container custom-form">
  <h1>Add a new skill</h1>
  <%= simple_form_for(@skill) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category, collection: %w[Art Music Craftmanship Sports] %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
