<div class="conta justify-content-center align-items-center">
  <div class="skillcard">
    <div class="d-flex justify-content-between align-items-center">

      <div class="d-flex align-items-center">

        <div class="avatar-container">
          <% user = @skill.user %>
          <% if user.avatar_url.present? %>
          <%= image_tag user.avatar_url, class: "rounded-circle avatar" %>
          <% end %>
        </div>

        <div class="user-name ml-3">
          <%= user.first_name %>
        </div>

      </div>
      <div>
        <%= link_to '', skills_path, class: "arrow fa-solid fa-arrow-left circle-xmark" %>
      </div>

    </div>
    <div class="mt-3">
      <div class="row">
        <div class="col-md-7">
          <div class="card-img-top">
            <%= cl_image_tag(@skill.photo.key, class: "card-img-top", height: 550, crop: :thumb, gravity: :face) %>
          </div>
        </div>
        <div class="col-md-5">
          <div class="mt-3">
            <h5 class="card-title"><%= @skill.name %></h5>
          </div>
          <div class="mt-3">
            <h6 class="card-subtitle"><%= @skill.category %></h6>
          </div>
          <div class="mt-3">
            <p class="card-text"><%= @skill.description %></p>
          </div>
          <%# old button: %>
          <%# <div class="mt-3 text-center"> %>
            <%# link_to "Book", new_skill_booking_path(@skill), class: "btn-custom" %><br>
          <%# </div> %>
          <%# new button with toggle %>
          <div data-controller="toggle" class="mtb-5 p-3 text-center">
            <%# button_to "Book", class: "btn btn-primary rounded-pill float-right px-5", data_action: "click->toggle#fire"%>
            <button data-action="click->toggle#fire" class="btn btn-primary rounded-pill w-50">Book</button>
          <br>
          <br>
          <div data-toggle-target="togglableElement" class="d-none">
            <%= simple_form_for [@skill, @booking] do |f| %>
              <%= f.input :date, label:'Pick a date',
                        as: :string,
                        input_html: { data: { controller: "datepicker" } } %>
              <%# f.input :date %>
              <%# f.association :movie %>
              <%# f.association :bookmarks %>
              <%= f.submit "Submit", class: "btn btn-custom" %>
            <% end %>
          </div>
          </div>
        </div>

        <%# check with darima form here %>

        <%# <div class="card-footer bg-transparent text-right mtb-3"> %>

      </div>
    </div>
    <div id="booking-form" style="display: none;">
      Booking form here
    </div>
  </div>
</div>
