<div class="container">
<h1>My Requests</h1>
  <div class="cards">
    <% @booking_requests.each do |request| %>
        <div class="card">
          <div class="card-img">
            <%= cl_image_tag("https://res.cloudinary.com/dnx6ly8vl/image/upload/v1685450930/default_fqx7cj.jpg",
            class: "img-fluid", style: "object-fit: cover;") %>
          </div>
          <div class="card-body">
          <h5 class="card-title"><%= request.skill.name %></h5>
            <%# add user-avatar %>
            <h5 class="card-title">By <%= request.skill.user["first_name"] %></h5>
            <h6 class="card-subtitle"><%= request.skill.category %></h6>
            <h6 class="card-title">Booked for: <%= request.date %></h6>
            <h6 class="card-title">Status: <%= request.status %></h6>
            <%# accept or reject forms %>
            <div class="booking-actions">
              <% if request.pending? %>
                <%= simple_form_for request do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                  <%= f.submit 'Accept', class: 'btn btn-info' %>
                <% end %>
                <%= simple_form_for request do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                  <%= f.submit 'Reject', class: 'btn btn-light' %>
                <% end %>
              <% else %>
                <p class='booking-tag'>Status: <%= request.status %></p>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="container">
<h1>My Bookings</h1>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card">
        <div class="card-img">
          <%= cl_image_tag("https://res.cloudinary.com/dnx6ly8vl/image/upload/v1685450930/default_fqx7cj.jpg",
          class: "img-fluid", style: "object-fit: cover;") %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= booking.skill.name %></h5>
          <%# add user-avatar %>
          <h5 class="card-title">By <%= booking.skill.user["first_name"] %></h5>
          <h6 class="card-subtitle"><%= booking.skill.category %></h6>
          <h6 class="card-title">Booked for: <%= booking.date %></h6>
          <h6 class="card-title">Status: <%= booking.status %></h6>
          <%# button_to "Update", booking_path(:id) %>

        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h1>My Offers</h1>
  <div class="cards">
    <% @skills.each do |skill| %>
    <div class="card">
      <div class="card-img">
          <%= cl_image_tag("https://res.cloudinary.com/dnx6ly8vl/image/upload/v1685450930/default_fqx7cj.jpg",
          class: "img-fluid", style: "object-fit: cover;") %>
      </div>
      <div class="card-body">
          <h5 class="card-title"><%= skill.name %></h5>

          <h5 class="card-title">By <%= skill.user["first_name"] %></h5>
          <%# <h5 class="card-title">By <%= skill.booking.date %></h5>
          <h6 class="card-subtitle"><%= skill.category %></h6>
      </div>
    </div>
      <% end %>
  </div>
</div>
