<div class="container">

<%# here starts REQUESTS section %>
  <div class="my_requests">
  <h1>My Requests</h1>
    <%# here starts row with REQUESTS section %>
    <div class="row">
      <div class="cards col-9">
        <% @booking_requests.each do |request| %>
            <div class="card">
              <div class="card-img">
                <%= cl_image_tag(request.skill.photo.key, class: "card-img-top", crop: :thumb, gravity: :face) %>
              </div>
              <div class="card-body">
                <div class="card-info">
                  <h5 class="card-title"><%= request.skill.name %></h5>
                  <h6 class="card-title">🗓 <%= request.date %></h6>
                  <p class="card-text"><%= request.skill.category %></p>
                </div>
                <%# accept or reject forms using tutorial https://dev.to/dmbf29/updating-a-booking-status-2ihh %>
                <div class="booking-actions">
                  <% if request.pending? %>
                    <%= simple_form_for request do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                      <%= f.submit 'Accept', class: 'btn btn-custom btn-success' %>
                    <% end %>
                    <%= simple_form_for request do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                      <%= f.submit 'Reject', class: 'btn btn-custom btn-danger' %>
                    <% end %>
                  <% else %>
                    <p class='booking-tag alert alert-primary'>Status: <%= request.status %></p>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <%# here ends row with REQUESTS section %>

      <%# here starts row with PROFILE section %>
      <div class="profile col-3">
      </div>
      <%# here ends row with PROFILE section %>
    </div>
  <%# here ends REQUESTS section %>
  </div>

  <%# here starts BOOKINGS section %>
  <div class="my_bookings mt-5">
  <h1>My Bookings</h1>
  <div class="row">
    <h5>Accepted Bookings</h5>
      <div class="cards accepted">
        <% @bookings.each do |booking| %>
          <% if booking.status == "accepted" %>
            <div class="card">
              <div class="card-img">
                <%= cl_image_tag(booking.skill.photo.key, class: "card-img-top", crop: :thumb, gravity: :face) %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= booking.skill.name %></h5>
                <%# add user-avatar %>
                <h6 class="card-title">with <%= booking.skill.user["first_name"] %></h6>
                <p class="card-text"><%= booking.skill.category %></p>
                <br>
                <h6 class="card-title">🗓 <%= booking.date %></h6>
                <%# <h6 class="card-title">Status: <%= booking.status %></h6>
                <%# button_to "Update", booking_path(:id) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    <h5>Pending Bookings</h5>
      <div class="cards pending">
        <% @bookings.each do |booking| %>
          <% if booking.status == "pending" %>
            <div class="card pending">
              <div class="card-img">
                <%= cl_image_tag(booking.skill.photo.key, class: "card-img-top", crop: :thumb, gravity: :face) %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= booking.skill.name %></h5>
                <%# add user-avatar %>
                <h6 class="card-title">with <%= booking.skill.user["first_name"] %></h6>
                <p class="card-text"><%= booking.skill.category %></p>
                <br>
                <h6 class="card-title">🗓 <%= booking.date %></h6>
                <%# <h6 class="card-title">Status: <%= booking.status %></h6>
                <%# button_to "Update", booking_path(:id) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
  </div>
  <%# here ends BOOKING section %>

  <%# here starts OFFERS section %>
  <div class="my_offers mt-5 mb-3">
    <h1>My Offers</h1>
    <div class="cards">
      <% @skills.each do |skill| %>
      <div class="card">
        <div class="card-img" id = "myImage" >
            <%= cl_image_tag(skill.photo.key, class: "card-img", crop: :thumb, gravity: :face) %>
        </div>
        <div class="card-img-overlay d-flex">
          <h5 class="card-title align-self-center mx-auto"><%= skill.name %></h5>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%# here ends OFFERS section %>
</div>
